#container {
    background-color: #212121;
    position: absolute;
    left: 50%;
    top: 50%;
}

.ball {
    border-radius: 50%;
    position: absolute;
}

.bar {
    position: absolute;
}

#verticalBar {
	height: 98%;
    margin-left: 50%;
    position: absolute;
    border: 2px #585858 dashed;
}

#leftScore {
	margin-top: 15%;
    margin-left: 20%;
    position: absolute;
    font-size: 50px;
    font-size: 110px;
   	color: #585858;
}

#rightScore {
   	margin-top: 15%;
    margin-left: 75%;
    position: absolute;
    font-size: 110px;
    color: #585858;
}

.link-github {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 48px;
}

.link-github img {
    display: block;
    height: 48px;
    transition: .3s all cubic-bezier(0.19, -0.65, 0.18, 1.96);
}

.link-github img:hover {
    transition: .3s all cubic-bezier(0.19, -0.65, 0.18, 1.96);
    transform: scale(1.1, 1.1);
}