* {
  margin:0;
  padding:0;
  list-style:none;
  vertical-align:baseline;
}

body {
	background:#b7b5b5
}

#gameArea{
  width: 600px;
  height: 350px;
  background-color:#000;
  margin:0 auto;
  margin-top:5%;
}

#ball {
  position:static;
  background-color:#fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}

#bar1 {
  position:relative;
  width: 10px;
  height: 100px;
  background-color:#1bff00;
  float: left;
}

#bar2 {
  position:relative;
  width: 10px;
  height: 100px;
  background-color:#1bff00;
  float: right;
}